<div class="row header">
    <div class="left-side col-sm-6 col-xs-12 pull-left">
        <header class="codropsheader clearfix">
            <span>Scaperoth <span class="bp-icon bp-icon-about" data-content="The Blueprints are a collection of basic and minimal website concepts, components, plugins and layouts with minimal style for easy adaption and usage, or simply for inspiration."></span></span>
            <h1>Split Layout</h1>

        </header>
        <div class="intro-content">
            <h1>
            <span>Toby Blue </span>
            <hr/>
            <span>Web Designer</span>
            </h1>
        </div>
    </div>
    <div class="right-side col-sm-6 col-xs-12 pull-right">
    	<a href="#">
        <div class="home-sub-item sub-item-top col-xs-12 hover-zoom">
            <div class="intro-content">
                <h1>
                <span>Toby Blue </span>
                <hr/>
                <span>Web Designer</span>
                </h1>
            </div>
        </div>
        </a>
        <a href="#">
        <div class="home-sub-item sub-item-bottom col-xs-12 hover-zoom">
            <div class="intro-content">
                <h1>
                <span>Toby Blue </span>
                <hr/>
                <span>Web Designer</span>
                </h1>
            </div>
        </div>
        </a>
    </div>
</div>