

<div class="row header">
    <div class="left-side col-md-6 col-xs-12 pull-left">
        <header class="codropsheader clearfix">
            <span>Made By Scaperoth <span class="bp-icon bp-icon-about" data-content="The Blueprints are a collection of basic and minimal website concepts, components, plugins and layouts with minimal style for easy adaption and usage, or simply for inspiration."></span></span>
            <h1>Split Layout</h1>
        </header>
        <div class="intro-content">
            <h1 id="main-header">
            <span>Site Title </span>
            <hr/>
            <span>Fashionista</span>
            </h1>
        </div>
    </div>
    <div class="right-side col-md-6 col-xs-12 pull-right">
        <a href="about">
        <div class="home-sub-item sub-item-top col-xs-12 hover-zoom">
            <div class="intro-background"></div>
            <div class="intro-content">
                <h1 class="home-sidebar">
                <span>About</span>
                <hr/>
                <span>Getting Started</span>
                </h1>
            </div>
        </div>
        </a>
        <a href="work">
        <div class="home-sub-item sub-item-bottom col-xs-12 hover-zoom">
            <div class="intro-background"></div>
            <div class="intro-content">
                <h1 class="home-sidebar">
                <span>Top Stories</span>
                <hr/>
                <span>Jump In</span>
                </h1>
            </div>
        </div>
        </a>
    </div>
</div>
<%# = render 'layouts/footer' %>
<%# = debug(params) if Rails.env.development? %>