/* 
 * variables.scss
 * @author Mat Scaperoth: scaperoth.com
 * global variables for scss files
 */

/*FONTS*/

$title-font: sans-serif;
$title-letter-spacing: .1em;
$title-line-height:1em;
$title-font-weight: normal;
$title-font-style: normal;
$title-font-size: 6.125em;

$head-font: 'Sumana', serif;
$head-letter-spacing: 10px;
$head-line-height:1px;
$head-font-weight: normal;
$head-font-style: normal;

$subhead-font: 'Elsie', cursive;
$subhead-letter-spacing: 15px;
$subhead-line-height:1px;
$subhead-font-weight: normal;
$subhead-font-style: normal;


/*BREAK POINTS*/

$small-break-point: 0px;
$medium-break-point: 800px;
$large-break-point: 993px;

/*HEIGHTS*/

$min-height-sm: 700px;
$min-height-md: 900px;
$min-height-lg: 100%;

/*COLOR OPTIONS*/

$white: #f9f9f9;

/*left*/

$left-side-content-color:$white;
$left-side-background-color:#888;

/*right*/

$right-side-top-content-color:#222;
$right-side-top-overlay-color: #fff;
$right-side-bottom-content-color:$white;
$right-side-bottom-overlay-color: #000;
$right-side-background-color: #fafafa;

/*OPACITY*/

$left-side-content-opacity:.8;
$right-side-top-background-opacity:.4;
$right-side-top-content-opacity:.8;
$right-side-bottom-background-opacity:.7;
$right-side-bottom-content-opacity:.8;

/*IMAGE OPTIONS*/

$left-image: url('colorful-model.jpeg');
$left-image-position:top;
$top-right-image: url('fashion-man.jpeg');
$top-right-image-position:center;
$bottom-right-image: url('suit.jpg');
$bottom-right-image-position:top;

/*BACKGROUND SIZES*/

$main-background-size: 150%;
$hover-background-original-height-sm: 170%;
$hover-background-original-height-md: 135%;
$hover-background-original-height-lg: 155%;
$background-transition-height-sm: $hover-background-original-height-sm*1.1;
$background-transition-height-md: $hover-background-original-height-md*1.1;
$background-transition-height-lg: $hover-background-original-height-lg*1.1;

/*CSS TRANSITION TIMES*/

$transition-time: .75s;

/*MIXINS*/

@mixin font-face($size, $type:"header") {
	@if $type == "header" {
	  	font: 100% $head-font;
	    letter-spacing: $head-letter-spacing;
	    line-height: $head-line-height;
	    font-weight: $head-font-weight;
	    font-style: $head-font-style;
	    font-size: $size;
	}
	@else{
		font: 100% $subhead-font;
	    letter-spacing: $subhead-letter-spacing;
	    line-height: $subhead-line-height;
	    font-weight: $subhead-font-weight;
	    font-style: $subhead-font-style;
	    font-size: $size;
	}
}
