<header class="navbar">


    <div class="container">
        <h1 id="site-title">
        <%= link_to @site_title , root_path, id: "logo" %>
        </h1>
        <nav>
            <ul class="nav navbar-nav navbar-right ">
                <li><%= link_to "Home",   root_path %></li>
                <li><%= link_to "About",   about_path %></li>
                <li><%= link_to "Work",   work_path %></li>
            </ul>
        </nav>
    </div>
</header>