/* 
 * split.css.scss
 * @author Mat Scaperoth: scaperoth.com
 * controls scss for all pages
 */

@import 'utilities/variables';

body {
    padding: 0;
}

.navbar{
	#site-title{
		@include font-face(2em, $type:"header");
		letter-spacing: 5px;
		margin:0;
		position:absolute;
		top:45%;

		#logo:hover{
			text-decoration: none;
		}
	}

	ul li a{
		@include font-face(1.2em, $type:"subheader");
		letter-spacing: 5px;
		line-height:1.5em;
	}
	ul li a:hover{
		background:transparent;
	}
}