/* 
 * split.css.scss
 * @author Mat Scaperoth: scaperoth.com
 * controls css for splitting home page into magazine format
 */

@import 'utilities/variables';

.intro-content{
    text-align: center;
}

/**
 * Header
 */

.codropsheader {
    color: $white;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 1.4em 0;
    opacity: 0.7;
    visibility: visible;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.2s;
    /*background: #444444;*/
}

.codropsheader h1 {
    font: 100% $title-font;
    letter-spacing: $title-letter-spacing;
    line-height: $title-line-height;
    font-weight: $title-font-weight;
    font-style: $title-font-style;
    font-size: $title-font-size;
    margin: 0 0 0.6em 0;
    opacity: 1;
}

.codropsheader > span {
    display: block;
    position: relative;
    z-index: 9999;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    padding: 0 0 0.6em 0.1em;
}

.codropsheader > span span:after {
    width: 30px;
    height: 30px;
    left: -12px;
    font-size: 50%;
    top: -8px;
    font-size: 75%;
    position: relative;
}

.codropsheader > span span:hover:before {
    content: attr(data-content);
    text-transform: none;
    text-indent: 0;
    letter-spacing: 0;
    font-weight: 300;
    font-size: 110%;
    padding: 0.8em 1em;
    line-height: 1.2;
    text-align: left;
    left: auto;
    margin-left: 4px;
    position: absolute;
    color: #47a3da;
    background: #fff;
}


/*END HEADER*/


/*BOTH SIDES*/

.right-side,
.left-side {
    background-repeat: no-repeat;
    min-height: $min-height-sm;
    float: none !important;
}

.home-sub-item {
    left: 0;
    top: 0;
    position: absolute;
    height: 50%;
    min-height: 1px;
}


/*LEFT SIDE OPTIONS*/

.left-side {
    background-image: $left-image;
    background-position: $left-image-position;
    background-repeat: no-repeat;
    background-color: $left-side-background-color;
    background-size: $main-background-size;
    .intro-content {
        top: 41%;
    }
}


/*RIGHT SIDE OPTIONS*/

.right-side {
    position: relative;
    background: $right-side-background-color;
}


/*TOP RIGHT*/

.sub-item-top {
    /*background:#2fc0da;*/
    color: $right-side-top-content-color;
    background-image: $top-right-image;
    background-position: $top-right-image-position;
    .intro-background {
        background: $right-side-top-overlay-color;
        opacity: $right-side-top-background-opacity;
    }
    h1 {
        opacity: $right-side-top-content-opacity;
    }
}


/*BOTTOM RIGHT*/

.sub-item-bottom {
    top: 50%;
    /**background:#ffdfda;*/
    color: $right-side-bottom-content-color;
    background: $bottom-right-image;
    background-position: $bottom-right-image-position;
    .intro-background {
        background: $right-side-bottom-overlay-color;
        opacity: $right-side-bottom-background-opacity;
    }
    h1 {
        opacity: $right-side-bottom-content-opacity;
    }
}


/*HOVER ZOOM ITEMS*/

.hover-zoom {
    background-size: $hover-background-original-height-sm;
    background-repeat: no-repeat;
    overflow: hidden;
    .intro-background {
        height: 100%;
        top: 0;
    }
}


/*TITLE AND MAIN ITEM CONTENT*/

.intro-content,
.intro-background {
    position: absolute;
    top: 25%;
    left: 0;
    padding: 0 1em;
    width: 100%;
    padding: 10px;
    hr {
        width: 50%;
    }
    h1 > span {
        font-weight: 300;
        font-size: 1em;
    }
    h1 > span:first-child {
        @include font-face(.9em, $type:"header")
    }
    h1 > span:nth-child(3) {
        @include font-face(.7em, $type:"subheader")
    }
    #main-header {
        opacity: $left-side-content-opacity;
        color: $left-side-content-color;
    }
}


/*MEDIA QUERY FOR HOVER OVER ANIMATION*/

@media(min-width:$medium-break-point) {
    /*SECTIONS THAT ZOOM ON HOVER*/
    .hover-zoom {
        background-size: $hover-background-original-height-md;
        transition: all $transition-time ease-in-out;
        -webkit-transition: all $transition-time ease-in-out;
        -o-transition: all $transition-time ease-in-out;
        -moz-transition: all $transition-time ease-in-out;
    }
    .hover-zoom:hover {
        background-size: $background-transition-height-md;
        transition: all $transition-time ease-in-out;
        -webkit-transition: all $transition-time ease-in-out;
        -o-transition: all $transition-time ease-in-out;
        -moz-transition: all $transition-time ease-in-out;
    }
}


/*MEDIA QUERY FOR MEDIUM SCREENS*/

@media (min-width: $medium-break-point) and (max-height: $medium-break-point) {
    .right-side,
    .left-side {
        min-height: $min-height-md;
    }
    .intro-content {
        h1 > span:first-child {
            font-size: .9em;
        }
        h1 > span:nth-child(3) {
            font-size: .7em;
        }
    }
}


/*MEDIA QUERY FOR LARGE SCREENS*/

@media (min-width: $large-break-point) and (max-height: $large-break-point*1.1) {
    .right-side,
    .pull-right {
        float: right !important;
        border-left: 2px solid #777777;
    }
    .left-side,
    .pull-left {
        float: left !important;
        border-right: 3px solid #222222;
    }
    .right-side,
    .left-side {
        position: absolute;
        bottom: 0;
        top: 0;
        min-height: $min-height-lg;
        max-height: 1200px;
    }
    .left-side {
        left: 0;
    }
    .right-side {
        right: 0;
    }
    .hover-zoom {
        background-size: $hover-background-original-height-lg;
    }
    .hover-zoom:hover {
        background-size: $background-transition-height-lg;
    }
    .intro-content {
        h1 > span:first-child {
            font-size: 1.3em;
        }
        h1 > span:nth-child(3) {
            font-size: 1em;
        }
    }
}


/*MEDIA QUERY FOR LARGE VERTICLE SCREENS*/

@media (min-width: $medium-break-point) and (min-height: $large-break-point*1.1) {
    .left-side,
    .right-side {
        float: none !important;
        width: 100%;
        position: absolute;
        min-height: $min-height-lg;
    }
    .left-side {
        top: 0;
    }
    .right-side {
        top: $min-height-lg;
    }
    .intro-content {
        h1 > span:first-child {
            font-size: 3em;
        }
        h1 > span:nth-child(3) {
            font-size: 2em;
        }
    }
}
